# Application configuration for oidc-client-demo

[app]
secret_key_path = "session-key"
base_url = "http://localhost:9090"

[oidc]
issuer = "https://id.noa.re"
client_id = "oidc-client-demo"
scopes = ["openid", "profile", "email"]
